 input:focus{
    outline: none;
}

.text-error{
    color: red;
}
.input-error{
    color: red;
    border: solid 1px red!important;
}

.m3{
    margin-bottom: 30px;
}
h2{
    display: inline-block;
    margin-right: 10px;
}
.input-icons{
    position: relative;
    display: inline-block;
    width: 50%;
}

.input-icons i:first-child { 
    position: absolute; 
} 
.input-icons i:last-child { 
    position: absolute;
    left: calc(100% - 40px);
} 
  
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
    cursor: pointer;
} 
  
.input-field { 
    width: 100%;
    padding: 8px 30px;
    border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 10px;
}