<div class="container m3">
  <h2>Tweet Search</h2>
  <form [formGroup]="form">
      <div class="input-icons">
        <i class="fa fa-search icon"></i>
        <input
          name="search"
          [class.input-error]="!form.valid"
          formControlName="search"
          [ngModel]="search"
          (ngModelChange)="changed($event)"
          placeholder="Search"
          class="input-field"
          type="text"
        />
        <i class="fas fa-times-circle icon" (click)="clean()"></i>
      </div>
      <p class="text-error" *ngIf="form.invalid">No se aceptan caracteres especiales.</p>
  </form>
</div>
