
<div class="section-card">
  <div class="card">
    <div class="card-header">
      <img [src]="tweet.user?.profile_image_url_https" alt="" />
      <div class="title">
        <h2>{{tweet.user?.name}}</h2>
        <p>@{{tweet.user?.screen_name}}</p>
      </div>
    </div>
    <div class="card-body">
      <p>
        {{tweet.full_text | slice : 0:60}} ... 
      </p>
    </div>
    <div class="card-footer">
      <i (click)="shared()" class="fas fa-share"></i>
      <i class="fas fa-retweet retweet" ></i>
      <section [@animation]="animated ? 'open' : 'closed'" (click)="favoriteTweet(tweet.id_str,$event)" class="fave" [class.favorite-active]="favorite"></section>
      <!-- <i (click)="favoriteTweet(tweet.id_str, $event)" class="fas fa-star" [ngStyle]="{'color': favorite  ? '#e0255e' : '#808080' }"></i> -->
    </div>

    <div class="picture"></div>
  </div>

  <div class="scroll-section">
    <img src="assets/logo.png" alt="" />
    <div class="scroll" [@openClose]="expanded ? 'open' : 'closed'" >
        <div class="scroll-body fade-in" *ngIf="expanded">
          <p class="time"> {{tweet.created_at | date}}</p>
          <p class="tweet">
            {{tweet.full_text}}
          </p>
        </div>
        <p (click)="openBox($event)" *ngIf="!expanded">... más</p>
        <i [@flip]="expanded" (click)="openBox($event)" class="fas fa-chevron-down"></i>
      
    </div>
  </div>
</div>