<app-search
  (tweets)="createTweets($event)"
  (loading)="loading = $event"
  (empty)="empty = $event"
  (word)="word = $event"
></app-search>

<div
  class="container"
>
  <div class="loading" *ngIf="loading">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
  <div class="loading" *ngIf="empty">
    <p>No hay información</p>
  </div>
  <div infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" class="principal-content animate__animated animate__fadeIn" *ngIf="!loading">
    <ng-container *ngFor="let tweet of tweets">
      <div class="card">
        <app-card open [tweet]="tweet"></app-card>
      </div>
    </ng-container>
  </div>
  <div class="loadingScroll" *ngIf="loadingScroll">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
</div>
