.card{
    margin-bottom: 4rem;
}

.principal-content{
    text-align: center; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 480px) {
  .principal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    
    flex: 0 1 calc(50% - 1rem);
    justify-content: center;
    display: flex;
}
}

@media screen and (min-width:768px){
    .card {
        flex: 0 1 calc(33% - 1rem);
    }
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    i{
        font-size: 3rem;
        color: #40b0c3;
    }
}
